/*
*******Convención usada para elaborar estilos****************
1.- Posicionamiento
2.- Modelo de caja(Box model)
3.- Tipografia
4.- Visuales
5.-Otros
*/

:root {
  --light-grey: rgba(217, 217, 217, 1);
  --dark-black: rgba(37, 37, 37, 1);
  --medium-black: rgba(37, 37, 37, 0.8);
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  padding: 4rem 16rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: var(--white);
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  @media screen and (max-width: 768px) {
    padding: 2rem;
    margin-bottom: 1rem;
  }
}
.title-container h1 {
  width: 40rem;
  height: 9.0625rem;
  color: #252525;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem; /* 125% */
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 80%;
  }
}

.text-container p {
  width: 40rem;
  color: var(--medium-black);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.button-container {
  display: flex;
  padding: 1.125rem 3rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1rem;
  background: var(--dark-black);
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.button-container button {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  outline: none;
  background-color: var(--dark-black);
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--white);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 12rem;
}
.cards-container .individual-cards {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 1rem);
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.cards-container .individual-cards img {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.card1 .card2 .card3 .card4 .card5 .card6 {
  flex-shrink: 0;
}

/*2DA LANDING*/
/* Estilos generales */
.principal-header {
  display: flex;
  margin: 0px;
}

.left-container {
  flex: 1;
  padding: 1rem;
  border-right: 0.1rem solid #ccc;
}

.rigth-container {
  flex: 1;
  display: flex;
}

.rigth-container-left,
.rigth-container-right {
  flex: 1;
}

/* Título  */
.left-container h1 {
  display: flex;
  flex-direction: column;
}
.left-container h1 span {
  margin: 1rem;
  margin-top: 1rem;
  font-size: 5rem;
}
/*párrafo en left-container*/
.left-container p {
  margin: 1rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}

/* div de  rigth-container */
.rigth-container-left div,
.rigth-container-right div {
  margin-bottom: 4rem;
}

.rigth-container-left h2,
.rigth-container-right h2 {
  margin: 0;
}

.rigth-container-left div:first-child h2,
.rigth-container-right div:first-child h2 {
  clear: none;
  margin-left: 6rem;
}

.rigth-container-left figure img,
.rigth-container-right figure img {
  width: 5rem;
  height: 5rem;
  background-color: #ccc;
  margin-right: 0.8rem;
  float: left;
  border-radius: 0.8rem;
}

.button-getStarted button {
  width: 15rem;
  height: 4.2rem;
  margin-top: 1rem;
  color: var(--white);
  border-radius: 2.5rem;
  font-size: small;
  outline: none;
  background-color: var(--dark-black);
}

.rigth-container-left,
.rigth-container-right {
  padding: 1rem;
  box-sizing: border-box;
}

.principal-body {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
}

.principal-body div {
  position: relative;
  width: 28rem;
  height: 30rem;
}

.principal-body div:last-child {
  margin-right: 0;
}
.principal-body .figure1-container figure img {
  border-radius: 2rem 0 0 2rem;
}
.principal-body .figure4-container figure img {
  border-radius: 0 2rem 2rem 0;
}

.principal-body figure {
  margin: 0;
  position: relative;
}

.principal-body figcaption {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.principal-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**RESPONSIVE PARTE2**/
@media (max-width: 768px) {
  /* .all-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0
} */
}

.principal-header {
  flex-direction: column;
}

.left-container,
.right-container {
  width: 100%;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.left-container {
  margin: 1rem;
  font-size: 1.6rem;
  max-width: 100%;
}
.left-container p {
  margin: 1rem;
  font-size: 1.4rem;
  max-width: 50%;
  margin: auto;
}

.rigth-container {
  margin-top: 20px;
  text-align: center;
  margin: auto;
}

.rigth-container-left,
.rigth-container-right {
  flex-direction: column;
}

.rigth-container-left div,
.rigth-container-right div {
  margin-bottom: 20px;
}

.rigth-container-left figure img,
.rigth-container-right figure img {
  float: none;
  margin-right: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .principal-body {
    flex-direction: column;
  }

  .principal-body div {
    width: 100%; /* O ajusta según tus necesidades */
    margin-right: 0;
    margin-bottom: 1rem; /* Añadido para dar espacio entre las figuras en pantalla pequeña */
  }
}
